.orange {
    color: orange;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.profile {
    position: relative;
    width: 300px;
    text-align: center;
    padding: 1rem;
    background-color: #ededed;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 28px -6px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 4px 4px 28px -6px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 4px 4px 28px -6px rgba(0, 0, 0, 0.42);
}

.newtag {
    position: absolute;
    top: 10%;
    left: 70%;
    padding: 2px 4px;
    background-color: aquamarine;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.avartar {
    position: relative;
}

/* 카운터 스타일  */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.counter-wrap {
    width: 100%;
}
.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 22px -8px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 2px 2px 22px -8px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 2px 2px 22px -8px rgba(0, 0, 0, 0.42);
}

.counter:hover {
    background-color: rgb(230, 244, 225);
}

.number {
    font-size: 7rem;
    color: #333;
}

.button {
    font-size: 1.6rem;
    padding: 0.4rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(121, 182, 127);
    color: #fff;
    border: 1px solid #f5f5f5;
}

.total-box {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

.total {
    font-size: 2rem;
    margin-left: 1.5rem;
    font-weight: 600;
    color: #777;
}
.sale-title {
    /* display: block; */
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #333;
}
.sale-input {
    width: 2rem;
    height: 2rem;
}
.sale-toggle-btn {
    font-size: 1.6rem;
    padding: 0.4rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(55, 55, 55);
    color: #fff;
    border: 1px solid #f5f5f5;
}
